<div class="container">
<div align="center">
  <h1>Here is your selected peep:</h1>
  <br/>
  <p>"<b><%= @peep.content %><b>"</p>
  <br/>
  <br/>
  <%= button_to "Update Peep", { :action => "edit" }, :method => :get %><br/>
  <br/>
  <%= button_to "Delete Peep", { action: "destroy", id: @peep.id },
                              method: :delete, data: { confirm: "Are you sure?" } %>
  <br/>
  <%= button_to "Homepage", { :action => "index" }, :method => :get %><br/>
  <br/>
  <br/>
</div>
</div>
